#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.passengers, .bus {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top: 50px;
}

.passenger-item {
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    margin-right: 25px;
    margin-bottom: 10px;
}

.order-item {
    background-color: green;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
    width: 200px;
}

.destination-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 5px;
}
